@model BarsukTix.Services.DTO.TicketViewModel
@{
    ViewData["Title"] = "Buy Ticket";
}

<div class="main" data-bs-spy="scroll" data-bs-target="#navContentmenu" data-bs-root-margin="0px 0px -50%" data-bs-smooth-scroll="true">

    <!--Contact Section ======================-->
    <section class="contact-section contact-page pt-70 pt-lg-120 pt-xxl-150">
        <div class="container">
            <div class="row gy-20 gy-lg-0 align-items-lg-end justify-content-lg-between mb-30 mb-lg-70">
                <div class="col-lg-5">
                    <div class="section-title section-title-style-2">
                        <span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>Buy Ticket</span>
                        <h2 class="title display-3 fw-extra-bold mb-n2 text-opacity">Buy</h2>
                        <h3 class="sub-title display-3 fw-extra-bold primary-text-shadow">Ticket</h3>
                    </div>
                    <!-- section-title -->
                </div>
                <div class="col-lg-5 d-none">
                    <div class="highlights-text">
                        <p class="custom-roboto text-lg-end">
                            Immerse in mesmerizing performances,vibrant soundscapes,and interactive art at our music extravaganza. Experience a festival atmosphere like no other, where unforgettable moments.
                        </p>
                    </div>
                </div>
            </div>

            <div class="contact-us-form">
                <form action="/postTicket" method="post">
                    <div class="row gx-5 gy-4 gy-lg-5 col-lg-6">

                        @foreach (var category in Model.Categories)
                        {
                            <div class="col-lg-8">
                                <span>
                                    @category.CategoryName
                                    <br />
                                    @category.Price.ToString("$0.00")
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control" name="@category.RowId" id="@category.RowId">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        }

                        <div class="col-12">
                            <button type="submit" class="btn btn-gradient d-inline-flex" aria-label="buttons">Next</button>
                        </div>
                        <div class="col-12">
                            <p class="text-danger">
                                @Model.ErrorText
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>
